<h2>Cadastrados no Sistema:</h2>
<ul class="pessoa">
  <li *ngFor="let pessoa of pessoas">
    <a routerLink="/detalhe/{{pessoa.id}}">
      <span class="badge">{{pessoa.id}}</span> {{pessoa.nome}}
    </a>
    <button class="delete" title="delete pessoa"
      (click)="deletePessoa(pessoa)">x</button>
    </li>
</ul>