<div *ngIf="pessoa">
  <h2>Dados Cadastrais de {{pessoa.nome | uppercase}}</h2>
  <div><span>Nascimento: {{pessoa.dataNascimento | date}}</span></div>
  <div><span>Documento: {{pessoa.identificacao}}</span></div>
  <div><span>Sexo: {{convertSexo(pessoa.sexo)}}</span></div>
  <div><span>Endereço: {{pessoa.endereco}}</span></div>

  <button (click)="voltar()">Voltar</button>

  <div>
    <div>
      <label>Nome:
        <input [(ngModel)]="pessoa.nome" placeholder="Nome">
      </label>
    </div>
    <div>
      <label>Nascimento:
        <input type="date" [(ngModel)]="pessoa.dataNascimento" placeholder="Nascimento">
      </label>
    </div>
    <div>
      <label>Documento:
        <input [(ngModel)]="pessoa.identificacao" placeholder="Identificação">
      </label>
    </div>
    <div>
      <label>Sexo:
        <select [(ngModel)]="pessoa.sexo" placeholder="Sexo">
          <option value="1">Masculino</option>
          <option value="2">Feminino</option>
        </select>
      </label>
    </div>
    <div>
      <label>Endereço:
        <input [(ngModel)]="pessoa.endereco" placeholder="Endereço">
      </label>
    </div>
    <button (click)="salvar()">Salvar</button>
    <button class="delete" title="Deletar Pessoa"
      (click)="deletePessoa(pessoa)" routerLink="/dashboard">Deletar</button>
  </div>
</div>
