<!--The content below is only a placeholder and can be replaced.-->
<h1>{{ title }}</h1>
<nav>
  <a routerLink="/dashboard">Menu</a>
  <a routerLink="/pessoas">Cadastrados</a>
  <a routerLink="/novo">Novo Cadastro</a>
  <a routerLink="/resultado">Resultado</a>
</nav>
<div><router-outlet></router-outlet></div>
<div><app-messages></app-messages></div>


