<div id="search-component">
  <h4>Busca</h4>

  <input #campoBusca id="search-box" (keyup)="buscaPessoa(campoBusca.value)" />

  <ul class="search-result">
    <li *ngFor="let pessoa of pessoas$ | async" >
      <a routerLink="/detalhe/{{pessoa.id}}">
        {{pessoa.name}}
      </a>
    </li>
  </ul>
</div>