<h3>Últimos Cadastrados</h3>
<div class="grid grid-pad">
  <a *ngFor="let pessoa of pessoas" class="col-1-4" routerLink="/detalhe/{{pessoa.id}}">
    <div class="module hero">
      <h4>{{pessoa.nome}}</h4>
    </div>
  </a>
</div>


<app-pessoa-busca></app-pessoa-busca>