<div><ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical></div>

<div><ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient2"
  [xAxis]="showXAxis2"
  [yAxis]="showYAxis2"
  [legend]="showLegend2"
  [showXAxisLabel]="showXAxisLabel2"
  [showYAxisLabel]="showYAxisLabel2"
  [xAxisLabel]="xAxisLabel2"
  [yAxisLabel]="yAxisLabel2"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical></div>