<div>
  <div>
    <label>Nome:
      <input #pessoaNome />
    </label>
  </div>
  <div>
    <label>Nascimento:
      <input type="date" #pessoaDataNascimento />
    </label>
  </div>
  <div>
    <label>Documento:
      <input #pessoaDocumento />
    </label>
  </div>
  <div>
    <label>Sexo:
      <select #pessoaSexo>
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
      </select>
    </label>
  </div>
  <div>
    <label>Endereço:
      <input #pessoaEndereco />
    </label>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="adicionar(
    pessoaNome.value,
    pessoaDataNascimento.value,
    pessoaDocumento.value,
    pessoaSexo.value,
    pessoaEndereco.value
  ); 
    pessoaNome.value='';
    pessoaDataNascimento.value='';
    pessoaDocumento.value='';
    pessoaSexo.value='';
    pessoaEndereco.value='';">
    Adicionar
  </button>
</div>